  <!-- partials head -->
  <%- include('partials/head', { title: "Pizzaria Express"}) %>

  <!-- navbar -->
  <%- include('partials/navbar')%> 
  <!--end navbar nav -->

  <!-- hero section -->
  <div class="jumbotron text-center text-dark" style="background-color: #e75656;" >
    <h1 class="display-4">Pizzaria Express</h1>
    <p class="lead">Temos a melhor Pizza do mundo, melhores ingredientes comprados dos melhores formecedores verduras e orti-fruit organicos.</p>
    <hr class="my-4">
    <p>Faça seu pedido já entregamos em toda a região sem taxa de entrega!</p>
    <a class="btn btn-warning btn-lg" href="#" role="button">Cardápio</a>
  </div>


  <!--scripts -->
  <%- include('partials/bottomPage') %> 